@model Milk_Bakery.Models.PurchaseOrder
@{
    Layout = null;
    int j = 0;
    int k = 0;
   
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" id="CodeSbyAnizForm" asp-route-id="@Model.Id" onkeydown="return event.key != 'Enter';" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="md:grid grid-cols-12 flex flex-col md:items-center gap-4 p-2">

                <div class="col-span-4 relative">
                    <span class="absolute bg-white left-3 -top-[12px] px-2">Order No</span>
                    <input class="text-[13px] h-10 text-gray-700 bg-light w-full border-2 px-2 rounded-sm text-right" asp-for="OrderNo" readonly />
                </div>
                <div class="col-span-4 relative">
                    <span class="absolute bg-white left-3 -top-[12px] px-2">Customer</span>
                    <input class="text-[13px] h-10 text-gray-700 bg-light w-full border-2 px-2 rounded-sm text-right" asp-for="Customername" readonly />
                    <input asp-for="OrderDate" class="form-control" readonly hidden />
                    <input asp-for="Segementname" class="form-control" readonly hidden />
                    <input asp-for="CustomerCode" class="form-control" readonly hidden />
                    <input asp-for="Segementcode" class="form-control" hidden />
                </div>
                
            </div>


            <div class="w-screen-lg  mt-2">
                <div class="table-responsive table-container  overflow-y-auto" style="height:480px">
                    <table class="w-full divide-y divide-gray-200" id="dataTable">
                        <thead class="bg-gray-200 sticky top-0 text-center">
                            <tr>
                            <th>Product Name</th>
                            <th>Code</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            @* <th style="width:100px;">
                            <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                            Add
                            </button>
                            </th>*@
                        </tr>
                    </thead>

                    <tbody id="CsDiv">

                        @for (int i = 0; i < Model.ProductDetails.Count; i++)
                        {
                            

                            <tr>
                                <td style="width:300px">

                                    <input asp-for="@Model.ProductDetails[i].ProductName" class="form-control" readonly />
                                    <span asp-validation-for="@Model.ProductDetails[i].ProductName" class="text-danger"></span>
                                </td>

                                <td>
                                    <input asp-for="@Model.ProductDetails[i].ProductCode" class="form-control" readonly />
                                    <span asp-validation-for="@Model.ProductDetails[i].ProductCode" class="text-danger"></span>
                                </td>
                                    <td style="width:80px">
                                        <input asp-for="@Model.ProductDetails[i].qty" class="form-control QtyTotal text-right " type="text" onkeydown="handleKeyDown(event)" />
                                    <span asp-validation-for="@Model.ProductDetails[i].qty" class="text-danger"></span>
                                </td>
                                <td>
                                        <input asp-for="@Model.ProductDetails[i].Unit" class="form-control text-right" readonly />
                                    <span asp-validation-for="@Model.ProductDetails[i].Unit" class="text-danger"></span>
                                    @if (@Model.ProductDetails[i].Unit == "Crates")
                                    {

                                        j = j + @Model.ProductDetails[i].qty;
                                        ViewBag.crates = j;
                                    }
                                    else if (@Model.ProductDetails[i].Unit == "Carton")
                                    {

                                        k = k + @Model.ProductDetails[i].qty;
                                        ViewBag.carton = k;
                                    }
                                </td>

                                <td>
                                        <input asp-for="@Model.ProductDetails[i].Rate" class="form-control text-right" readonly />
                                    <span asp-validation-for="@Model.ProductDetails[i].Rate" class="text-danger"></span>
                                </td>

                                <td>
                                        <input asp-for="@Model.ProductDetails[i].Price" class="form-control text-right" readonly />
                                    <input type="hidden" asp-for="@Model.ProductDetails[i].IsDeleted" />
                                </td>
                                @* <td>
                            <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">
                            Delete
                            </button>
                            </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </div>
            <div class="table-wrapper">
                <table class="responsive-table table text-center m-0 p-0">
                    <tbody>
                        <tr>
                            <th width="180px">Total Item in Cart:</th>
                            <th width="80px"><input class="text-right form-control" value="@Model.ProductDetails.Count()" readonly /></th>
                            <th width="180px">    
                                Total Quantity:
                            </th>
                            <th style="width:100px">
                                <input type="text" id="txtQtyTotal" class="form-control text-right"  readonly />
                            </th>

                            <th style="width:120px">
                                Total Amount:
                            </th>

                            

                            <th style="width:120px">
                                <input type="text" id="txtAmountTotal" class="form-control text-right"  readonly />
                            </th>


                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row flex items-center justify-between">
                <div class="col-span-1 relative text-left">
                    <span class="absolute bg-white left-3 -top-[12px] px-2">Total Crates </span>
                    <input class="text-[13px] h-10   w-full bg-gray-200 border-2 px-2 rounded-sm text-right" id="totalcrates" value="@ViewBag.crates" readonly />
                </div>
                <div class="col-span-1 relative text-left">
                    <span class="absolute bg-white left-3 -top-[12px] px-2">Total Carton </span>
                    <input class="text-[13px] h-10  bg-gray-200 w-full border-2 px-2 rounded-sm text-right" id="totalcarton" value="@ViewBag.carton" readonly />
                </div>
                <div class="px-4 text-right py-2">
                <input type="submit" value="Save" class="h-10 w-32 rounded-sm shadow-md text-white text-[16px] hover:bg-green-700 bg-green-600 btn" />
                <a data-dismiss="modal" class="h-10 w-32 rounded-sm shadow-md text-white text-[16px] hover:bg-red-700 bg-red-600 btn">Back</a>
            </div>
          </div>
        </form>
    </div>
</div>

      
    <script>
        CalcTotals();
    function CalcTotals() {
        var x = document.getElementsByClassName('QtyTotal');


        var totalQty = 0;
        var Amount = 0;
        var totalAmount = 0;
        var cratesqty=0;
        var  cartonqty=0;



        var i;

        for (i = 0; i < x.length; i++) {

            var idofIsDeleted = i + "__IsDeleted";

            var idofPrice = i + "__Rate";


            var idofTotal = i + "__Price";

            var idofunit = i + "__Unit";

            var hidIsDelId = document.querySelector("[id$='" + idofIsDeleted + "']").id;

            var priceTxtId = document.querySelector("[id$='" + idofPrice + "']").id;

            var totalTxtId = document.querySelector("[id$='" + idofTotal + "']").id;
            
            var totalunit = document.querySelector("[id$='" + idofunit + "']").id;
            

            if (document.getElementById(hidIsDelId).value != "true") {
                totalQty = totalQty + eval(x[i].value);
               
                var txttotal = document.getElementById(totalTxtId);
                
                var units = document.getElementById(totalunit);

                var txtprice = document.getElementById(priceTxtId);
                txttotal.value = (eval(x[i].value) * txtprice.value).toFixed(2);

                totalAmount = eval(totalAmount) + eval(txttotal.value);

                if (units.value == "Crates")
                {
                    cratesqty = cratesqty + eval(x[i].value);
                }
                else
                {
                    cartonqty = cartonqty + eval(x[i].value);
                }
            }
        }
        document.getElementById('totalcrates').value = cratesqty;
        document.getElementById('totalcarton').value = cartonqty;
        document.getElementById('txtQtyTotal').value = totalQty;
        document.getElementById('txtAmountTotal').value = totalAmount.toFixed(2);

    }
</script>

                