@model Milk_Bakery.Models.CratesManage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3">
    <div class="card mb-3">
        <div class="card-header text-white p-1" style="background-color:#FC2947;">
            <div class="d-flex align-items-baseline">
                <a asp-action="Index" class="btn btn-link text-white"><i class="fa fa-arrow-left"></i></a>
                <h5 class="mx-auto text-white text-2xl font-semibold">Crates Management Details</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Customer)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Customer.Name)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.SegmentCode)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.SegmentCode)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.DispDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.DispDate)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Opening)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Opening)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Outward)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Outward)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Inward)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Inward)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Balance)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Balance)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.CratesType)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.CratesType.Cratestype)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="px-4 text-right py-2">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn hover:bg-yellow-700 bg-yellow-600 rounded-sm shadow-md text-white">Edit</a>
                <a asp-action="Index" class="btn hover:bg-red-700 bg-red-600 rounded-sm shadow-md text-white">Back to List</a>
            </div>
        </div>
    </div>
</div>