@model IEnumerable<Milk_Bakery.Models.PurchaseOrder>
@{
    string role = Context.Request.HttpContext.Session.GetString("role");
}

 @if (role == "Customer")
{
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-4 mb-2">
                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" style="text-decoration:none">
                    <div class="card h-100">
                        <div class="card-body text-dark text-capitalize p-1">
                            <span>OrderNo:-@item.OrderNo</span><br>
                            <span>OrderDate:-@item.OrderDate</span><br>
                            <span>SegementName:-@item.Segementname</span>
                        </div>
                    </div>
                </a>
            </div>


        }
    </div>
}
else if(role=="Sales"){

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-4 mb-2">
                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" style="text-decoration:none">
                    <div class="card h-100">
                        <div class="card-body text-dark text-capitalize p-1">
                            <span>OrderNo:-@item.OrderNo</span><br>
                            <span>OrderDate:-@item.OrderDate</span><br>
                            <span>SegementName:-@item.Segementname</span>
                        </div>
                    </div>
                </a>
            </div>


        }
    </div>
}else{
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Customername)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Segementname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Segementcode)
                    </th>
                    @* <th>
                @Html.DisplayNameFor(model => model.verifyflag)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.processflag)
                </th>*@
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customername)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Segementname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Segementcode)
                            </td>
                            @*  <td>
                @Html.DisplayFor(modelItem => item.verifyflag)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.processflag)
                </td>*@
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info text-white" data-toggle="tooltip" data-placement="top" title="Verify">
                                    <i class="fa fa-edit" aria-hidden="true">Repeat</i>
                                </a>
                                @*  <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                            </td>
                        </tr>
                    

                }
            </tbody>
        </table>
    </div>

}